@{
    ViewBag.Title = "Contact";
}

<main aria-labelledby="title">
    <div class="text-center mb-4">
        <h2 id="title">@ViewBag.Title</h2>
        <p class="lead">We’d love to hear from you!</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>Contact Information</h4>
            <address>
                <strong>Purrfect Blog HQ</strong><br />
                Cat Street 9<br />
                00-123 Meowtown<br />
                <abbr title="Phone">Tel:</abbr> +48 123 456 789
            </address>

            <address>
                <strong>Email:</strong>
                <a href="mailto:contact@purrfectblog.com">contact@purrfectblog.com</a>
            </address>
        </div>
    </div>
</main>
