@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center mb-4">
    <h1 id="title">Welcome to Purrfect Blog</h1>
    <p class="lead">
        Your ultimate destination for cat-related stories and adventures!
    </p>
    <div class="mt-4">
        <a class="btn btn-primary btn-lg m-2" href="@Url.Action("CreatePost", "BlogPost")">
            Add Post
        </a>
        <a class="btn btn-success btn-lg m-2" href="@Url.Action("Index", "BlogPost")">
            View Posts
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Share Stories</h2>
        <p>
            Write and share your favorite cat stories with fellow cat lovers around the world.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Connect</h2>
        <p>
            Connect with other cat enthusiasts and discover amazing feline adventures.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Inspire</h2>
        <p>
            Get inspired by heartwarming tales and funny moments with our furry friends.
        </p>
    </div>
</div>
